<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active"/>
    <property name="LOG_PATTERN" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logger.log</file>
        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <logger name="com.sda" level="debug"/>

    <root level="info">
        <if condition='property("ACTIVE_PROFILE").contains("default")'>
            <then>
                <appender-ref ref="STDOUT"/>
            </then>
            <else>
                <appender-ref ref="FILE"/>
            </else>
        </if>
    </root>

</configuration>
